
@model SalesWebMVC.Models.Seller

@{ ViewData["Title"] = "Detele";
}

<h3>Tem certeza que deseja deletar este vendedor?</h3>
<div>
    
    <hr />
    <section class="landing">
        <div class="container">
            <dl class="row">
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.BirthDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.BirthDate)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => model.BaseSalary)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.BaseSalary)
                </dd>
            </dl>
        </div>
    </section>
    <form asp-action="Delete">
        <input type ="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index">Retornar</a>
    </form>
</div>
